.Dashboard{
    display: flex;
    flex-direction: column;
    h1{
        align-self: center;
    }
    
    
}

.Create-button{
    display: flex;
    width: 150px;
    // border: 1px solid red;
    height: 40px;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // border:none;
    color: white;
    background-color: #2777E8;
    border-radius: 4px;
    margin: 10px;
}

.expenselist{
    display: flex;
   
    flex-direction:row;
    
    // justify-content: center;
    flex-wrap:wrap;

    // height: 100vh;
   
    // border: 1px solid red;
}

.filters{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin: 20px;

   
}

.filter-value{
        margin: 10px;
        border-radius: 5px;
        border:none;
        
       
      
}