// if name starts with underscore means it will be used as partials
body{
    margin: 0px;
    padding: 0px;
    // display: flex;
    height:100vh;
    background-color: #F0F2F5;
    // width: 100vw;
    font-family:  Helvetica, Arial,sans-serif;//means if Helvetica is not present Arial wll be used and so on
}

.is-active{
    font-weight: bold;
}